body {
  background: #141414;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.movie-app > .row {
  /* overflow-x: auto;
  flex-wrap: nowrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image-container {
  position: relative;
  transition: transform 0.35s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.06);
}
/* .image-container:hover.overlay {
  opacity: 1;
} */
/* .overlay {
  position: absolute;
  background: rgb(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5 ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
} */
.movie-list {
  display: grid;
  grid-template-columns: 1fr;
}
.info-none {
  display: none;
}
.info-display {
  display: block;
}
